<!DOCTYPE html>
<html>

<style>
	table, th, td {
 	margin: auto;
    border-spacing: 3px;
    color: #003399;
    font-size: 30px;
}

tr:nth-child(odd) {
	background-color: #66CCFF; 
}

tr:nth-child(even) {
	background-color: #0099CC; 
}
</style>

<body style="background-color: #CCFFCC">

<h1 style="color: #003399;" align="center">Both of you own:</h1>

<table style="width:50%">
	<tr>
	</tr>
		{% for game in game_list %}
      		<tr> <th>{{ game }}</th> </tr>
  		{% endfor %}


</body>
</html>